/*****************************************
*
*            CSS-Style-Sheet
*
*****************************************/


/*****************************************
		Content
*****************************************/

body {
    background-color: #0E1418;
    margin: 0px;
    text-align: center;
    font-family: "Porsche Next";
}



/* Format of main page*/

.table{

}

.header{
  background-color: #D5001C;
}

#content {
    display: inline-block;
    background: #1A2023;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
}


#content_camera {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content_settings {
    text-align: left;
    margin-left: 30px;
}


/* Format for marked active Cameramen in List*/

.active {
    background: #564646;
    color: #ffffff;
    font-size: 120%;
    padding: 5px 30px;
    line-height: 200%;
}


/* Format for marked preview Cameramen in List*/

.preview {
    background: #ffff80;
    color: #000000;
    font-size: 120%;
    padding: 5px 30px;
    line-height: 200%;
}

img#center {
    display: block;
    width: 320px;
}

i#right {
    position: fixed;
    margin: 7px;
    margin-left: 50px;
}

input[type=checkbox] {
    transform: scale(1.5);
}

input[type=text] {
    font-size: 14px;
}


/*****************************************
		Status Bar
*****************************************/

#myStatus {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-family: Porsche Next;
    font-weight: bold;
    font-size: 130%;
    color: red;
    /* background-color: LightCoral; */
    background-color: LightCyan;
    margin-top: 20px;
}


/*****************************************
		Settings Modal PopUp
*****************************************/


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Header */

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 70%;
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#content_settings {
    text-align: left;
    margin-left: 30px;
}


/*****************************************
	Hyperlinks in a box with Hover-Effect

(alle Hyperlinks die nicht die id:unique haben so formatieren
--> der mit id:unique hat keine formattierung)
*****************************************/

a:link:not(#unique),
a:visited:not(#unique) {
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    border: 2px solid #D5001C;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    width: 120px;
}

a:hover:not(#unique),
a:active:not(#unique) {
    background-color: #D5001C;
    color: #FFFFFF;
}


/*****************************************
		Normal Button mit Hover Effect
		color: #dcd7d7!important;
*****************************************/

.button_normal {
    background-color: #c3382c;
    border: 2px solid #e20d17;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 6px 15px;
    margin-bottom: 20px;
}

.button_normal:hover {
    background-color: white;
    color: black;
}

.button_normal:active {
    position: relative;
    top: 1px;
}

.button_normal[disabled],
input[disabled] {
    background: transparent;
    color: black;
    cursor: not-allowed;
}


/*****************************************
		Home-Button mit Hover Effect
*****************************************/

.button {
    display: inline-block;
    background-color: #e20d17;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 10px 20px;
    width: 100px;
    transition: all .5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: .5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


/*****************************************
		Toggle Button for Micro Mute
*****************************************/

.toggle label {
    display: inline-block;
}

.toggle input {
    display: none;
}

.toggle .slider {
    padding: 15px;
    cursor: pointer;
    background-color: #DDDDDD;
    border-radius: 10%;
    box-shadow: 2px 2px 2px #898989
}

.toggle .slider:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    /*Font Awesome Mic Icon */
    content: "\f130";
    vertical-align: middle;
}

.toggle input:checked+.slider:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    /*Font Awesome Mic-Mute Icon */
    content: "\f131";
    vertical-align: middle;
}

.toggle input:checked+.slider {
    background-color: #b9b9b9;
}
